.signup label { 
    display: flex;
    flex-direction: row;


    padding-left: 8%;

    &:first-of-type {
        margin-top: 0;
    }
}

.signup {
    display: flex;
    flex-direction: row;
}

input[type=text], input[type=email] {
   
    color: #333;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.signup textarea { resize: none; display: block; }

.submit-wrapper {
    display: inline-block;
margin-left: 5%;
    padding: 1%;
    border-radius: 0.5rem;
    background-color: #D67e4F;
    cursor: pointer;
    font-size:18px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    &:hover { background-color: #fefaf0;
        color:#808080;}

    span { padding-right: 0.5em; }
}

.AMwrapper {
    position: absolute;
    top: 3%;
    left: 1%;
    background-color: #D67e4F;
    width: 23%;
    height: 300px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.AMwrapper p {
    padding: 3%;
}
.image2 {
    position: relative;
  
}

.aboutme img {
    padding-left: 18%;
}

.quote span{
    font-family: 'Calligraffitti', cursive;
    font-size: 36px;
    padding: 1%;
  }
  
.quote {
    padding-left: 35%;
    background-image:linear-gradient(#808080,white);
    height: 250px;
}
.quote p{
    padding-top: 5%;
}
.quote h2 {
    padding-left: 20%;
}
.connect label { 
   display: block;
   margin: 1%;

   padding-left: 2%;

   &:first-of-type {
        margin-top: 0;
   }
}



.connect textarea { resize: none; display: block; }

.connect {
    margin: 5%;
    border-left:1px solid #808080;
    padding-left: 5%;
}
.connectform {
    display: flex;
    flex-direction: row;
}

.datsun {
    width: 100%;
    margin-right: 50%;
}

.letsconnect h2 {

    font-size: 50px;
    position: absolute;
  top: 1%;
  left: 2%;
}


.letsconnect {
position: relative;
text-align: center;
border-bottom: solid 1px #808080;
margin-bottom: 1%;
}


.aboutme {
    position: relative;
text-align: center;
display: flex;

}

