h2 {

    font-family: 'Calligraffitti', cursive;
    font-size: 40px;
}



.sig {
    padding-left: 25%;
    width: 20%;
    padding-top: 10%;

   
}

.image {
    position: relative;
    width: 1000px;
    height: 50px;
}
.imageOne {
    width: 10%;
    z-index: 0;
    padding-left: 20%;
    padding-top: 10%;
}
.imageTwo {
    width: 10%;
    z-index: 1;
    padding-left: 0%;
    padding-top: 5%;
}

.row {
    display: flex;
    flex-direction: row;
}




.designer {
    display: flex;
    flex-direction: row-reverse;
}

.designer h2 {
    padding-right: 10%;
}

.section2 {
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(#D67e4F,white);
    height: 250px;
    margin-top: 5%;
    margin-bottom: 3%;
    
}

.section2 p {
   margin: 5%;
   padding-left: 3%;
    font-size: 55px;
}

.hands {
    margin-right:5%;
    margin-left: auto;
    display:block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.section3 {
    display: flex;
    flex-direction: row;

}

.section3 button {
margin-left: 5%;
    padding: 1%;
    border-radius: 0.5rem;
    background-color: #808080;
    cursor: pointer;
    font-size:18px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    &:hover { background-color: #D67e4F
    }
}
.thething {
    margin: auto;
}

.thething {
    font-size: 18px;
    font-weight: 300;
 
}
.thething h2 {
    padding: 5%;
}

.thething button {
    margin: 10%;
    padding: 5%;
}

.section4 {
    margin: auto;
   
    background-image:linear-gradient(#808080,white);
    height: 200px;
    margin-top: 2%;
    margin-bottom: 1%;
}

.section4 h2{
    padding-left: 45%;

    padding-top: 2%;
}

.insta {
   display: flex;
   float: right;
}

